*.pyc
.idea
build
dist
*.egg-info
*__pycache__
docs/build
docs/make.bat
docs/Makefile
docs/scamp.rst
docs/clockblocks.rst
docs/expenvelope.rst
docs/pymusicxml.rst
docs/scamp
docs/clockblocks
docs/expenvelope
docs/pymusicxml
