@media screen and (min-width: 1100px) {
 .wy-nav-content {
  max-width: none;
 }
}

.youtube {
    margin: 0px auto 20px auto;
    width: 640px;
    max-width: 70vw;
    height: 360px;
    max-height: 39.375vw;
    display: block;
}